<p style="color: green"><%= notice %></p>

<main class="container">
  <div class="header">
    <h1>Quotes</h1>
    <%= turbo_frame_tag "new_quote" do %>
      <%= link_to "New quote", new_quote_path, class: "btn btn--primary" %>
    <% end %>
  </div>

  <%= turbo_stream_from "broadcast_quotes" %>

  <div id="quotes">
    <%= render @quotes %>
  </div>
</main>
